@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: var(--green);
    overflow-x: hidden;
}

:root{
    /* -- FONTES -- */
  --fontLink1:1.17rem;
  
  /* --- CORES --- */
  --green:green;
  --white:white;
  --black:black;
  --branco-text: #FFFFFF;
  --preto-text: #000000;
  --cinza-text: #696969;
  --verde: #6C8A59;
  --verde-escuro: #3B4B2F;
}

/* MAIN => DESKTOP => START */

main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    padding-inline: 5vw;

    background-color: var(--verde);
}

main h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Vibes';
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.75px;
    text-transform: uppercase;
}

main h2 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.286px;
}

/* MAIN => DESKTOP => END */

/* PRODUCTS-CONTAINER => DESKTOP => START */

.products-container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.products-items {
    display: flex;
    background-color: var(--white);

    width: 100%;
}

.products-items > * {
    width: 50%;
    flex: 1;
}

.products-items.sabonete {
    flex-direction: row-reverse;
}

.products-items article {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 4vh;
}

.products-items article > * {
    width: 70%;
}

.products-items article h1 {
    margin-bottom: 48px;
}

.products-title{
    font-family: 'ABeeZee';
    font-weight: 400;
    font-size: 40px;
    color: var(--preto-text);
}

.products-description{
    font-family: 'Lato';
    line-height: 30px;
    color: var(--cinza-text);
}

.discoverProducts-section{
    padding-top: 3.5vw;
    
    background-color: var(--verde);
}

.discoverProducts-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw 2.5vw;

    align-items: center;
    justify-content: center;

    padding: 4vw;
}

.discoverProducts-section-title, .discoverProducts-items-title{
    font-family: 'ABeeZee';
    font-style: normal;
    text-align: center;
}

.discoverProducts-section-title{
    font-weight: 400;
    font-size: 3.13vw;
    line-height: 3.8vw;
    letter-spacing: -0.014880937500000002vw;

    color: var(--branco-text);
}

.discoverProducts-items{
    background-color: #F1F1F1;

    border-radius: 10px;

    width: 26vw;
    height: 33.85vw;

    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.74);
}

.discoverProducts-items-img{
    width: 100%;

    border-radius: 10px 10px 0px 0px;
}

.discoverProducts-items-title{
    font-weight: 400;
    font-size: 1.77vw;
    line-height: 2.03vw;
    letter-spacing: -0.014880937500000002vw;

    margin-block: 1vw;
}

.discoverProducts-items-description{
    font-family: 'Lato';
    font-style: normal;
    text-align: center;

    margin-top: 3vw;

    font-weight: 600;
    font-size: 1vw;
    line-height: 1.25vw;
    letter-spacing: -0.014880937500000002vw;

    color: var(--cinza-text);
}

footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    align-items: center;
    background: var(--verde-escuro);
  }
  .container_siteMap{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
  }

  .container_siteMap aside {
    color: var(--branco-text);
    font-family: 'Lato', sans-serif;
  }

  .container_img{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .container_img img{
    width: 3rem;
  }

@media screen and (max-width: 360px) {

    .discoverProducts-section{
        padding-top: 10vw;
    }

    .discoverProducts-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .discoverProducts-section-title, .discoverProducts-items-title{
        font-weight: 400;
        letter-spacing: -0.08928562500000001vw;
    }
    
    .discoverProducts-section-title{
        margin-bottom: 12vw;

        font-size: 10vw;
        line-height: 14vw;
    }
    
    .discoverProducts-items{
        width: 87.6vw;
        height: 137.5vw;

        margin-bottom: 10.9vw;
    }

    .discoverProducts-items article{
        padding-bottom: 3.1vw;
    }
    
    .discoverProducts-items-img{
        height: 62.5vw;
    }
    
    .discoverProducts-items-title{
        margin-block: 6vw;

        font-size: 7.5vw;
        line-height: 8.75vw;
    }
    
    .discoverProducts-items-description{
        margin-top: 8vw;

        font-weight: 600;
        font-size: 4.3vw;
        line-height: 6vw;
        letter-spacing: -0.08928562500000001vw;

        color: var(--preto-text);
    }
}

@media screen and (max-width:768px) {
    /* MAIN => DESKTOP => START */

    main h1 {
        font-size: 17vmin;
    }

    main h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    /* MAIN => DESKTOP => END */

    /* PRODUCTS-CONTAINER => MOBILE => START */

    .products-items, .products-items.sabonete {
        flex-direction: column;
    }

    .products-items > * {
        width: 100%;
        flex: 1;
    }

    .products-items article > * {
        width: 100%;
    }

    .products-title, .products-description {
        text-align: center;
    }

    /* PRODUCTS-CONTAINER => MOBILE => END */
}

@media screen and (min-width:768px) {
    .container_siteMap{
        width: 50%;
    }

    .container_img{
        width: 30%;
    }
}